.border
  border: 1px solid $color-lighter

  &.none
    border: none

  &.top
    border:
      right: none
      bottom: none
      left: none

  &.bottom
    border:
      top: none
      right: none
      left: none

  &.left
    border:
      top: none
      bottom: none
      right: none

  &.right
    border:
      top: none
      bottom: none
      left: none

  &.dotted
    border-style: dotted
