.clearfix
  @extend %clearfix

.clear
  clear: both

.nomargin
  margin: 0

.nopadding
  padding: 0

.nowrap
  white-space: nowrap

.scroll
  overflow: auto

.noscroll
  overflow: hidden

.pointer
  cursor: pointer
