.text
  &.left
    text-align: left

  &.right
    text-align: right

  &.center
    text-align: center

  &.justify
    text-align: justify

  &.uppercase
    text-transform: uppercase

  &.lowercase
    text-transform: lowercase

  &.small
    font-size: 0.85rem

  &.large
    font-size: 1.5rem

  &.hiper
    font-size: 3.5rem

  &.mega
    font-size: 6rem

  &.ultra
    font-size: 9rem

  &.thin
    @extend %font-thin

  &.thick
    @extend %font-thick

  // Responsivenes
  +screen(map-get($screen, 'medium'))
    &.large
      font-size: 1.2rem

    &.hiper
      font-size: 2.7rem

    &.mega
      font-size: 5.2rem

    &.ultra
      font-size: 8.2rem
