=animation-rotate($speed: 0.5s)
  +animation(rotate $speed infinite linear)

  @keyframes rotate
    0%
      +transform(rotate(0))

    100%
      +transform(rotate(360deg))

=animation-pulse-background($color-1: $color-danger, $color-2: $color-warning, $speed: 0.5s)
  +animation(pulse-background $speed infinite)

  @keyframes pulse-background
    0%
      background-color: $color-1

    50%
      background-color: $color-2

    100%
      background-color: $color-1

=animation-swing-vertical($initPoint: 0, $speed: 0.5s)
  +animation(swing-vertical $speed infinite)

  @keyframes swing-vertical
    0%
      margin-top: $initPoint

    50%
      margin-top: $initPoint + 5

    100%
      margin-top: $initPoint

=animation-floating
  +animation(floating 2s infinite)

  animation-timing-function: ease-in-out

  @keyframes floating
    from
      +transform(translateY(0))

    50%
      +transform(translateY(10px))

    to
      +transform(translateY(0))
