=board($name, $color)
  &.#{$name}
    border-color: lighten($color, $color-variation-8)
    background: lighten($color, $color-variation-9)
    color: $color

    a
      color: darken($color, $color-variation-3)

      &:hover
        color: lighten($color, $color-variation-3)
