=button($color: null, $name: null, $size: null, $style: null, $expanded: false, $rounded: false, $disabled: false)
  @if $name
    .button
      &.#{$name}
        +box-shadow(inset 0 1px 0 0 lighten($color, $color-variation-3))

        background: $color
        border-color: darken($color, $color-variation-1)

        &:hover,
        &.on
          background: lighten($color, $color-variation-2)

        &.bordered
          +box-shadow(none)

          background: none
          color: $color

          &:hover,
          &.on
            border-color: lighten($color, $color-variation-3)
            color: lighten($color, $color-variation-3)

  @else
    @extend %button
    +box-shadow(inset 0 1px 0 0 lighten($color, $color-variation-3))

    border-color: darken($color, $color-variation-1)

    @if $size == 'small'
      @extend %button.#{$size}

    @if $size == 'large'
      @extend %button.#{$size}

    @if $style == 'bordered'
      @extend %button.#{$style}

      +box-shadow(none)

      @if $color
        background: none
        color: $color

        &:hover,
        &.on
          border-color: lighten($color, $color-variation-3)
          background: none
          color: lighten($color, $color-variation-3)

    @else
      @if $color
        background: $color

        &:hover,
        &.on
          background: lighten($color, $color-variation-2)

    @if $expanded
      @extend %button.expanded

    @if $rounded
      @extend %button.rounded

    @if $disabled
      @extend %button:disabled
