=color($name, $color-1, $color-2: null)
  @if $color-2 == null
    &.#{$name}
      color: $color-1

  @else
    &.highlighted-#{$name}
      +background-image(linear-gradient(to right, $color-1 40%, $color-2))
      +background-clip(text)

      padding-bottom: 0.08em
      color: $color-1
      -webkit-text-fill-color: transparent

      a
        text-decoration: none
