=icon($content, $font: nth($font-icon, 1))
  content: $content
  display: inline-block
  font:
    style: normal
    variant: normal
    weight: normal
    size: inherit
    line-height: 1
    family: $font
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
