=slider-item-theme($name, $color-primary, $color-secondary, $color-price-tag)
  &.#{$name}
    .block
      &.text
        .primary
          color: $color-primary

        .secondary
          color: $color-secondary

    .price-tag
      background: $color-primary
      color: $color-price-tag
