// Extra large
+screen(map-get($screen, 'extra-large'))
  .off-extra-large
    display: none

// Large
+screen(map-get($screen, 'large'))
  .off-large
    display: none

// Medium
+screen(map-get($screen, 'medium'))
  .off-medium
    display: none

// Small
+screen(map-get($screen, 'small'))
  .off-small
    display: none
