.board
  position: relative
  padding: map-get($gap, 'normal') * 2
  border: 1px solid $color-lighter
  background: $color-lightest
  line-height: 130%

  &.transparent
    border: none
    background: none

  +board('danger', $color-danger)
  +board('info', $color-info)
  +board('success', $color-success)
  +board('warning', $color-warning)

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    padding: map-get($gap, 'compact') * 2
    text-align: center
