.breadcrumb
  margin-bottom: map-get($gap, 'normal') * 2

  li
    display: inline
    margin-right: 0.5em
    font-size: 0.85rem

    &:nth-child(n + 2)
      &:before
        +icon('\f105')

        margin-right: 0.5em

    &.on
      @extend %font-thick

  a
    text-decoration: none

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    margin-bottom: map-get($gap, 'compact') * 2
