.card
  +background-image(linear-gradient(to right, nth($color-custom, 2) 40%, lighten(nth($color-custom, 2), $color-variation-7)))
  +transition(all 0.2s)

  padding-top: 1px

  &:hover
    +box-shadow(0 0 1.7em 0.1em rgba(0, 0, 0, 0.2))

    .body
      color: $color-dark

  &:nth-child(n + 2)
    margin-top: map-get($gap, 'normal') * 2

  .container
    +display-flex
    +flex-direction(row)
    +flex-wrap(wrap)
    +justify-content(space-between)
    +align-items(flex-start)

    padding: map-get($gap, 'normal')
    border: 1px solid $color-lighter
    border-top: none
    background: #fff

  .header
    @extend %font-thick

    width: 100%
    padding-bottom: map-get($gap, 'normal')
    margin-bottom: map-get($gap, 'normal')
    border-bottom: 1px dotted $color-lighter
    color: nth($color-custom, 2)
    font-size: 1rem

  .body
    +box-sizing(border-box)

    width: 80%
    padding-right: map-get($gap, 'normal') * 2
    font-size: 0.95rem
    line-height: 160%

    &:last-child
      width: 100%

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    dl,
    ol,
    ul,
    address
      &:nth-child(n + 2)
        margin-top: 1.5rem

      &:only-of-type
        margin: 0

  .image
    width: 20%
    text-align: center

    img
      display: inline-block
      width: 100%

  // Responsiveness
  +screen(map-get($screen, 'large'))
    .header
      margin-bottom: map-get($gap, 'compact')

    .body
      padding-right: map-get($gap, 'compact') * 2
