.control-bar
  +display-flex
  +flex-direction(row)
  +flex-wrap(nowrap)
  +justify-content(flex-end)
  +align-items(center)

  &:first-child
    margin-bottom: map-get($gap, 'normal') * 2
    padding-bottom: map-get($gap, 'normal') * 2
    border-bottom: 1px solid $color-lighter

  &:last-child
    margin-top: map-get($gap, 'normal') * 2
    padding-top: map-get($gap, 'normal') * 2
    border-top: 1px solid $color-lighter

  &.boxed
    padding: map-get($gap, 'normal')
    background: $color-lightest

  *
    margin-left: map-get($gap, 'normal') * 2
    text-decoration: none

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    &:first-child
      +flex-wrap(wrap)

      *
        &:nth-child(n + 2)
          margin-top: map-get($gap, 'compact')

          text-align: center

    &:last-child
      +flex-direction(column-reverse)

      *
        &:nth-child(n + 2)
          margin-bottom: map-get($gap, 'compact')

    *
      width: 100%
      margin: 0

      &.link
        display: block
        padding: map-get($gap, 'compact')
        text-align: center
