form
  position: relative

fieldset
  &:nth-of-type(n + 2)
    margin-top: map-get($gap, 'normal') * 2
    padding-top: map-get($gap, 'normal') * 2
    border-top: 1px solid $color-lighter

  &:disabled
    @extend %disabled

  > .input
    &:last-of-type
      margin-bottom: 0

  > .grid
    &:last-of-type
      .input
        margin-bottom: 0

legend
  @extend %font-thick

  float: left
  width: 100%
  margin-bottom: map-get($gap, 'normal') * 2
  font-size: 1.3rem

label
  @extend %font-thin

  display: block
  font-size: 1.1rem
  line-height: 200%
  text-align: left

  &.check
    display: inline
    margin-right: map-get($gap, 'normal')
    cursor: pointer

    &:after
      content: '\A'
      white-space: pre

  &.inline
    &:after
      content: ''

  &.text
    font:
      size: 0.9rem
      family: $font-system

  &.disabled
    @extend %disabled

+input-text-selector
  @extend %input-text

  width: 100%

input
  &[type="file"],
  &[type="range"]
    width: 100%
    margin: 0

    &:disabled
      @extend %disabled

textarea
  @extend %textarea

  width: 100%

select
  @extend %select

  width: 100%

// Honeypot
input
  &[name="redbutton"]
    display: none

.form
  .input
    margin-bottom: map-get($gap, 'normal')
    text-align: left

    small
      display: block
      margin-top: map-get($gap, 'normal') / 2
      color: $color-muted
      line-height: 120%

      +input-small('danger', $color-danger, '\f057')
      +input-small('info', $color-info, '\f05a')
      +input-small('success', $color-success, '\f058')
      +input-small('warning', $color-warning, '\f06a')

    .split
      +display-flex
      +flex-direction(row)
      +flex-wrap(nowrap)
      +justify-content(flex-start)
      +align-items(center)

      +input-split('danger', $color-danger)
      +input-split('info', $color-info)
      +input-split('success', $color-success)
      +input-split('warning', $color-warning)

      input
        &:nth-child(2):not(:last-child)
          +border-left-radius(0)
          +border-right-radius(0)

          border:
            left: none
            right: none

      .helper
        @extend %input-text

        color: $color-muted

      input,
      .button,
      .helper
        &:first-child
          +border-right-radius(0)

          border-right: none

        &:last-child
          +border-left-radius(0)

          border-left: none

  .ghost-label
    &:before
      @extend label

      content: '.'
      visibility: hidden

// Responsiveness
+screen(map-get($screen, 'medium'))
  fieldset
    &:nth-of-type(n + 2)
      margin-top: map-get($gap, 'compact') * 2
      padding-top: map-get($gap, 'compact') * 2

    .grid
      .item
        margin: 0 !important

  legend
    margin-bottom: map-get($gap, 'compact') * 2
    font-size: 1.2rem
    text-align: center

  label
    &.inline
      &:after
        content: '\A'
        white-space: pre

  .form
    .input
      .split
        .button
          width: auto

    .ghost-label
      &:before
        display: none

    .button
      width: 100%

    > .grid
      > .item
        &:nth-child(n + 2)
          fieldset
            margin-top: map-get($gap, 'compact') * 2
