h1
  font-size: 2.9rem

h2
  font-size: 2.5rem

h3
  font-size: 2.2rem

h4
  font-size: 1.9rem

h5
  font-size: 1.5rem

h6
  font-size: 1.2rem

h1,
h2,
h3,
h4,
h5,
h6
  @extend %font-thick

  line-height: 100%

.heading
  margin-bottom: map-get($gap, 'normal') * 2

// Responsiveness
+screen(map-get($screen, 'medium'))
  h1
    font-size: 2.7rem

  h2
    font-size: 2.3rem

  h3
    font-size: 2rem

  h4
    font-size: 1.7rem

  h5
    font-size: 1.3rem

  h6
    font-size: 1.1rem

  .heading
    margin-bottom: map-get($gap, 'compact') * 2
    text-align: center
