.default-container
  +box-sizing(border-box)

  max-width: map-get($screen, 'extra-large')
  margin: 0 auto

.default-header
  .nav-session
    background: nth($color-custom, 1)

    .default-container
      +display-flex
      +flex-direction(row)
      +flex-wrap(nowrap)
      +justify-content(space-between)
      +align-items(center)

      height: map-get($input, 'height')
      padding: 0 (map-get($gap, 'normal') * 3)

    ul
      +display-flex
      +flex-direction(row)
      +flex-wrap(nowrap)
      +justify-content(flex-start)
      +align-items(center)

    li
      display: inline

      &.on
        a
          color: #fff

    a,
    span
      display: block
      padding: 0 map-get($gap, 'normal')
      color: nth($color-custom, 3)
      font-size: 0.95rem
      line-height: map-get($input, 'height')

    a
      text-decoration: none

      &:hover
        color: #fff

    .notice
      a
        color: $color-warning

        &:before
          +icon('\f0f3')

          margin-right: 5px

    .phone
      a
        color: $color-warning

        &:before
          +icon('\f095')

          margin-right: 5px

    .area
      a
        color: #fff

        &:before
          +icon('\f0ac')

          margin-right: 5px
          color: nth($color-custom, 3)

        &:after
          +icon('\f107')

          margin-left: 5px
          color: nth($color-custom, 3)

    .packages
      a
        @extend %font-thin

        background: $color-warning
        color: #fff

        &:hover
          background: lighten($color-warning, $color-variation-2)

  .nav-main
    .default-container
      +display-flex
      +flex-direction(row)
      +flex-wrap(nowrap)
      +justify-content(flex-start)
      +align-items(center)

      padding: 0 (map-get($gap, 'normal') * 3)

    h1
      a
        display: block
        width: 140px
        height: 73px
        overflow: hidden
        background:
          image: image-url('acessonet-logo-vertical.svg')
          position: 50% 50%
          repeat: no-repeat
          size: 100% auto
        text-indent: -9999px

    .button-mobile
      display: none

    ul
      +flex(1)
      +display-flex
      +flex-direction(row)
      +flex-wrap(nowrap)
      +justify-content(flex-start)
      +align-items(center)

      margin-left: map-get($gap, 'normal') * 2

      li
        display: inline

      a
        @extend %font-thick

        display: block
        padding: (map-get($gap, 'normal') * 4) map-get($gap, 'normal')
        font-size: 1.1rem
        text-decoration: none

    form
      +flex(1)
      +display-flex
      +flex-direction(row)
      +flex-wrap(nowrap)
      +justify-content(flex-start)
      +align-items(flex-start)

      margin-top: 8px

      &:before
        +icon('\f2be')

        margin-right: 10px
        color: $color-light
        font-size: 35px

      .field
        &:nth-child(1)
          width: 60%

          input
            +border-right-radius(0)

        &:nth-child(2)
          width: 40%
          text-align: right

          input
            +border-radius(0)

      input
        @extend %input-text

        width: 100%
        border-right: none

      a
        display: inline-block
        margin-top: 5px
        color: $color-muted
        font-size: 0.85rem
        text-decoration: none

        &:hover
          color: $color-dark

      button
        +button(nth($color-custom, 2))
        +border-left-radius(0)

        font-size: 0.95rem

.default-main
  +box-shadow(inset 0 1px 0 0 $color-lighter)

  min-height: 50vh

  .default-container
    padding: (map-get($gap, 'normal') * 4) (map-get($gap, 'normal') * 3)

.default-footer
  padding-bottom: map-get($gap, 'normal') * 2
  background: nth($color-custom, 1)

  .support
    padding: (map-get($gap, 'normal') * 4) 0
    background: nth($color-custom, 1)
    text-align: center

    ul
      li
        display: inline

        &:nth-child(n + 2)
          margin-left: map-get($gap, 'normal') * 2

      i
        margin-right: 0.5em

      a
        color: nth($color-custom, 3)
        text-decoration: none

        &:hover
          color: #fff

    .others
      font-size: 0.85rem

    .social
      width: 50%
      padding-top: map-get($gap, 'normal') * 2
      margin: (map-get($gap, 'normal') * 2) auto 0
      border-top: 1px solid nth($color-custom, 3)
      font-size: 1.1rem

  .directions
    padding: (map-get($gap, 'normal') * 4) 0
    background: #fff

    .default-container
      $icon-width: 106px
      $icon-height: 68px

      min-height: $icon-height
      padding-left: $icon-width + (map-get($gap, 'normal') * 2)
      background:
        image: image-url('acessonet-icon-silver.svg')
        position: 0 50%
        repeat: no-repeat
        size: $icon-width auto

    a
      text-decoration: none

    nav
      ul
        li
          display: inline

          &:nth-child(n + 2)
            margin-left: map-get($gap, 'normal') * 2

        small
          font-weight: 400

        a
          @extend %font-thick

        [href="#top"]
          float: right

          &:hover
            &:after
              +transform(translateX(0.3em))

          &:after
            +transition(all 0.1s)
            +icon('\f106')

            margin-left: 0.7em

    .copyright
      display: block
      margin-top: map-get($gap, 'normal') * 2
      color: $color-muted
      line-height: 160%

// Responsiveness
+screen(map-get($screen, 'large'))
  .default-header
    .nav-session
      .default-container
        padding: 0 map-get($gap, 'compact')

      a
        padding: 0 map-get($gap, 'compact')

      .phone,
      .packages
        display: none

    .nav-main
      $icon-close: '\f00d'

      background: nth($color-custom, 2)

      .default-container
        position: relative
        display: block
        overflow: hidden
        padding: map-get($gap, 'compact')

      &.navicon-on
        .button-mobile
          &.navicon
            &:before
              content: $icon-close

          &.login
            right: -(60px + map-get($gap, 'compact'))

        ul
          display: block

      &.login-on
        .button-mobile
          &.navicon
            left: -(60px + map-get($gap, 'compact'))

          &.login
            &:before
              content: $icon-close

        form
          display: flex

      h1
        a
          width: 165px
          height: 38px
          margin: 0 auto
          background-image: image-url('acessonet-logo-horizontal-white.svg')

      .button-mobile
        +transition(all 0.2s)
        +tap-highlight-color-disable

        position: absolute
        top: map-get($gap, 'compact')
        display: block
        height: 38px
        padding: 0 map-get($gap, 'compact')
        margin: 0
        border: none
        outline: 0
        background: none
        color: #fff
        font-size: 21px
        line-height: 38px

        &.navicon
          left: map-get($gap, 'compact')

          &:before
            +icon('\f0c9')

        &.login
          right: map-get($gap, 'compact')

          &:before
            +icon('\f2be')

      ul
        display: none
        margin: 0
        padding: (map-get($gap, 'compact') * 4)

        li
          font-size: 1rem

          &:first-child
            a
              margin-top: 0

          &:last-child
            a
              margin-bottom: 0

        a
          +border-radius(1.5em)

          padding: map-get($gap, 'compact') (map-get($gap, 'compact') * 2)
          margin: (map-get($gap, 'compact') * 2) 0
          border: 2px solid
          color: #fff

          &:hover,
          &:active
            background: #fff
            color: nth($color-custom, 2)

          &:after
            +icon('\f105')

            float: right

      form
        +flex-direction(column)
        +justify-content(flex-start)
        +align-items(center)

        display: none
        padding: map-get($gap, 'compact') * 4

        &:before
          display: none

        .field
          &:nth-child(1),
          &:nth-child(2)
            width: 100%
            margin-bottom: map-get($gap, 'compact') * 2

            input
              +border-radius($border-radius)

        input
          border: none

        a
          color: #fff

          &:hover
            color: #fff
            text-decoration: underline

        button
          $color: nth($color-custom, 1)

          +border-radius($border-radius)

          width: 100%
          background: $color

          &:hover
            background: lighten($color, $color-variation-2)

  .default-main
    .default-container
      padding: (map-get($gap, 'compact') * 4) (map-get($gap, 'compact') * 2)

  .default-footer
    .support
      ul
        li
          display: block

          &:nth-child(n + 2)
            margin: map-get($gap, 'normal') 0 0

      .social
        a
          +border-radius(1.5em)

          display: block
          padding: map-get($gap, 'normal')
          border: 2px solid
          outline: 0
          text-align: left

          &:active,
          &:focus,
          &:hover
            background: #fff
            color: nth($color-custom, 1)

          &:after
            +icon('\f105')

            float: right

    .directions
      .default-container
        $icon-width: 106px
        $icon-height: 68px

        width: 50%
        padding: ($icon-height + (map-get($gap, 'normal') * 2)) 0 0
        background:
          position: 50% 0
          size: $icon-width auto

      nav
        ul
          li
            &:nth-child(n + 2)
              margin: 0

          a
            +box-shadow(inset 0 -1px 0 0 $color-lighter)

            display: block
            padding: map-get($gap, 'normal') 0

            &:after
              +icon('\f105')

              float: right

          [href="#top"]
            +box-shadow(none)

            float: none
            padding: 0
            margin-top: map-get($gap, 'normal') * 2
            text-align: center

            &:hover
              color: lighten(nth($color-custom, 2), $color-variation-3)

            &:after
              display: none

            small
              font-weight: 400

      .copyright
        text-align: center

+screen(map-get($screen, 'medium'))
  .default-footer
    .support
      padding: (map-get($gap, 'compact') * 4) (map-get($gap, 'compact') * 2)

      ul
        li
          display: block

          &:nth-child(n + 2)
            margin: map-get($gap, 'normal') 0 0

      .social
        width: 100%
        padding-top: map-get($gap, 'compact') * 2
        margin: (map-get($gap, 'compact') * 2) auto 0

    .directions
      padding: (map-get($gap, 'compact') * 4) (map-get($gap, 'compact') * 2)

      .default-container
        $icon-width: 106px
        $icon-height: 68px

        width: 100%
        padding-top: $icon-height + (map-get($gap, 'compact') * 2)
