.list-link
  $gap: 1.5rem

  li
    &:nth-child(n + 2)
      margin-top: $gap

  a
    @extend %font-thick

    position: relative
    display: block
    padding-left: $gap
    text-decoration: none
    font-size: 1.05rem
    line-height: 130%

    &:hover
      &:before
        +transform(translateX(0.3em))

    &:before
      +transition(all 0.1s)
      +icon('\f105')

      position: absolute
      left: 0
      top: 0

    small
      display: block
      font:
        weight: 400
        size: 0.75rem

.list-icon
  $gap: 1.5rem

  line-height: 160%

  li
    position: relative
    display: block
    padding-left: $gap

    &:nth-child(n + 2)
      margin-top: $gap / 2

    a
      text-decoration: none

    i
      &:first-child
        position: absolute
        left: 0
        top: 0.3em

.list-area
  li
    display: block
    font-size: 1.3rem

    &:first-child
      a
        margin-top: 0

  a
    @extend %font-thick

    +border-radius(1.5em)

    display: block
    padding: map-get($gap, 'normal')
    margin-top: map-get($gap, 'normal')
    border: 2px solid
    outline: 0
    color: #fff
    text-decoration: none

    &:active,
    &:focus,
    &:hover
      background: #fff
      color: nth($color-custom, 1)

    &:after
      +icon('\f105')

      float: right

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    li
      font-size: 1rem

.list-feature
  +display-flex
  +flex-direction(row)
  +flex-wrap(nowrap)
  +justify-content(flex-start)
  +align-items(stretch)

  li
    width: 100%
    text-align: center

  img
    display: inline-block
    height: 90px

  div
    @extend %font-thick

    margin-top: map-get($gap, 'normal')
    font-size: 1.1rem

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    +flex-wrap(wrap)

    li
      width: 50%

      &:nth-last-child(-n + 2)
        margin-top: map-get($gap, 'normal') * 2

    img
      height: 60px

    div
      font-size: 1rem

.list-iconbox
  +display-flex
  +flex-direction(row)
  +flex-wrap(wrap)
  +justify-content(flex-start)
  +align-items(stretch)

  width: 100%

  li
    @extend %font-thick

    +box-sizing(border-box)

    width: percentage(1 / 3)
    padding: map-get($gap, 'normal')
    font-size: 0.85rem
    line-height: 130%
    text-align: center

    .icon
      margin-bottom: map-get($gap, 'normal')

    i
      font-size: 40px

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    li
      padding: map-get($gap, 'compact')

      .icon
        margin-bottom: map-get($gap, 'compact')

  +screen(map-get($screen, 'small'))
    li
      width: 50%
