.modal-static
  display: none

.modal
  z-index: 999
  position: fixed
  top: 0
  left: 0
  display: none
  width: 100%
  height: 100%

  &.loading
    > .overlay
      > .spinner
        display: block

      > .container
        display: none

  > .overlay
    +display-flex
    +flex-direction(row)
    +justify-content(center)
    +align-items(center)

    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow-y: auto
    background: rgba(nth($color-custom, 1), 0.98)

    > button[data-modal="close"]
      position: absolute
      top: 0
      right: 0
      display: block
      padding: map-get($gap, 'normal') * 2
      margin: 0
      border: none
      outline: 0
      background: none
      color: #fff
      text-transform: uppercase
      line-height: 100%

      &:before
        +icon('\f00d')

        font-size: 31px

    > .spinner
      $size: 60px

      +border-radius(50%)
      +animation-rotate(0.8s)

      display: none
      width: $size
      height: $size
      border: 1px solid #fff
      border-right-color: transparent

    > .container
      +flex(1)
      +display-flex
      +flex-direction(row)
      +justify-content(center)

      max-width: map-get($screen, 'extra-large')
      margin: auto
      color: #fff

      > .content
        width: 60%
        margin: 0 (map-get($gap, 'normal') * 2)

        &.large
          width: 100%
          margin: 0 auto

        &.modal-static
          display: block

      .header
        padding: (map-get($gap, 'normal') * 2) 0
        color: nth($color-custom, 3)
        text-align: center

        h3
          @extend %font-thick

          font-size: 2.1rem

        h4
          @extend %font-thin

          margin-top: map-get($gap, 'normal')
          font-size: 1rem
          line-height: 130%

      .body
        padding: (map-get($gap, 'normal') * 2) 0

  // Custom
  fieldset,
  .control-bar
    border-color: rgba(255, 255, 255, 0.1)

  // Responsiveness
  +screen(map-get($screen, 'large'))
    > .overlay
      > button[data-modal="close"]
        padding: map-get($gap, 'compact') * 2

      > .container
        > .content
          width: 100%
          margin: 0

        .header,
        .body
          padding: map-get($gap, 'compact') * 2

  +screen(map-get($screen, 'medium'))
    > .overlay
      > .container
        .header
          h3
            font-size: 1.5rem

          h4
            margin-top: map-get($gap, 'compact')
