.package
  +background-image(linear-gradient(to right, nth($color-custom, 2) 40%, lighten(nth($color-custom, 2), $color-variation-7)))
  +transition(all 0.2s)

  padding-top: 1px

  &:hover
    +box-shadow(0 0 1.7em 0.1em rgba(0, 0, 0, 0.2))

    .price
      button
        +transform(translateX(0))

  &:nth-child(n + 2)
    margin-top: map-get($gap, 'normal') * 2

  .container
    +display-flex
    +flex-direction(row)
    +flex-wrap(wrap)
    +justify-content(space-between)
    +align-items(flex-start)

    padding: map-get($gap, 'normal')
    border: 1px solid $color-lighter
    border-top: none
    background: #fff

  .name
    @extend %font-thick

    width: 100%
    padding-bottom: map-get($gap, 'normal')
    margin-bottom: map-get($gap, 'normal') * 2
    border-bottom: 1px dotted $color-lighter
    color: nth($color-custom, 2)
    font-size: 1rem

  .tag
    @extend %font-thin

    color: nth($color-custom, 2)
    font-size: 2rem

  .details
    color: $color-dark
    font-size: 0.75rem
    line-height: 160%

    div
      &:before
        width: 20px
        text-align: center

    .wifi
      &:before
        +icon('\f1eb')

    .download
      &:before
        +icon('\f063')

    .upload
      &:before
        +icon('\f062')

    .tiny
      margin-top: 5px
      color: $color-muted

  .price
    @extend %font-thick

    font-size: 2rem
    color: $color-dark
    overflow: hidden

    small
      display: inline-block
      margin-left: 5px
      font:
        weight: 400
        size: 0.75rem
      line-height: 100%

    button
      +button($color-warning)
      +transform(translateX(105%))

      display: block
      width: 100%
      margin-top: map-get($gap, 'normal')

  // Responsiveness
  +screen(map-get($screen, 'large'))
    text-align: center

    .container
      div
        width: 100%

      .name
        margin-bottom: map-get($gap, 'compact') * 2

      .details,
      .price
        margin-top: map-get($gap, 'compact') * 2

      .price
        small
          text-align: left

        button
          left: 0
