.page-loading
  +display-flex
  +flex-direction(row)
  +justify-content(center)
  +align-items(center)

  z-index: 999
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, 0.98)

  .spinner
    $size: 60px

    +border-radius(50%)
    +animation-rotate(0.8s)

    width: $size
    height: $size
    border: 1px solid $color-light
    border-right-color: transparent
