.reading
  $gap: 1.5rem

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  ol,
  ul,
  address
    &:nth-child(n + 2)
      margin-top: $gap

  p,
  dl,
  ol,
  ul,
  address
    font-size: 1.05rem
    line-height: 160%

  dl,
  ol,
  ul
    margin-left: $gap

  ol
    list-style-type: decimal
    counter-reset: item

    li
      display: block

      &:before
        content: counters(item, '.') '.'
        counter-increment: item
        margin-right: 0.5em

  ul
    list-style-type: disc

  dt
    font-weight: 700

    &:nth-child(n + 2)
      margin-top: $gap / 2

  dd
    font-size: 0.95rem
    line-height: 120%

  li
    ol,
    ul
      margin:
        top: $gap / 2
        bottom: $gap / 2

    ul
      list-style-type: circle
