.slider
  overflow: hidden
  background:
    position: 50% 0
    repeat: no-repeat
    size: cover

  .item
    +slider-item-theme('theme-1', nth($color-custom, 1), #fff, $color-warning)
    +slider-item-theme('theme-2', $color-warning, #fff, nth($color-custom, 2))
    +slider-item-theme('theme-3', nth($color-custom, 1), nth($color-custom, 1), #fff)
    +slider-item-theme('theme-4', #fff, #fff, nth($color-custom, 1))

    position: relative
    width: 100%
    height: 100%
    min-height: 470px

    &.reverse
      .default-container
        +flex-direction(row-reverse)

    &.on
      .block
        +opacity(1)
        +transform(translateY(0))

    > a
      z-index: 500
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      overflow: hidden
      text-indent: -9999px

    [id^="particles-js-"]
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .default-container
    +display-flex
    +flex-direction(row)
    +flex-wrap(nowrap)
    +justify-content(center)
    +align-items(center)

    height: 100%

  .block
    +opacity(0)
    +transition(all 0.3s)
    +transform(translateY(-(map-get($gap, 'normal') - 2)))

    width: 100%

    &:only-child
      width: 60%
      text-align: center

      .price-tag
        margin:
          left: auto
          right: auto

    &.image
      text-align: center

      img
        display: inline-block
        min-height: 291px

    &.text
      .primary
        @extend %font-thick

        margin: 0.5em 0
        font-size: 1.9rem
        line-height: 120%
        text-transform: uppercase

      .secondary
        @extend %font-thin

        margin: 0.5em 0
        font-size: 1.3rem
        line-height: 130%

  .price-tag
    $size: 180px

    +display-flex
    +flex-direction(column)
    +justify-content(center)
    +align-items(center)
    +border-radius($size)
    +box-sizing(border-box)
    +box-shadow(0 0 0 5px rgba(255, 255, 255, 0.3))

    width: $size
    height: $size
    padding: 0 map-get($gap, 'normal')
    margin-top: (map-get($gap, 'normal') * 2)
    text-align: center
    line-height: 100%

    .top
      @extend %font-thick

      font-size: 1rem

    .total
      @extend %font-thick

      margin: 0.4em 0
      font-size: 3.5rem
      letter-spacing: -0.01em

      small
        margin: 0 3px
        vertical-align: top
        font-size: 1.5rem

    .plus
      @extend %font-thin

      font-size: 1rem

  .button
    margin-top: (map-get($gap, 'normal') * 2)

  // Responsiveness
  +screen(map-get($screen, 'large'))
    .block
      text-align: center

      &:only-child
        width: 100%

      &:nth-child(2)
        display: none

      &.image
        img
          max-width: 100%

    .price-tag
      margin:
        left: auto
        right: auto

  +screen(map-get($screen, 'small'))
    .block
      &.text
        .primary
          font-size: 1.3rem
