[data-tab="content"]
  position: relative

  > *
    display: none

.tab
  ul
    +display-flex
    +flex-direction(row)
    +flex-wrap(nowrap)
    +justify-content(flex-start)
    +align-items(center)
    +box-shadow(inset 0 -1px 0 0 $color-lighter)

  &.vertical
    &.right
      ul
        +box-shadow(inset 1px 0 0 0 $color-lighter)

      a
        text-align: left

        &.on
          +box-shadow(inset 4px 0 0 0 $color-lighter)

    ul
      +flex-direction(column)
      +box-shadow(inset -1px 0 0 0 $color-lighter)

    li
      width: 100%

    a
      text-align: right

      &.on
        +box-shadow(inset -4px 0 0 0 $color-lighter)

  &.expanded
    li
      width: 100%
      text-align: center

  a
    display: block
    padding: map-get($gap, 'normal') (map-get($gap, 'normal') * 2)
    color: $color-muted
    font-size: 1rem
    text-decoration: none

    &:focus,
    &:hover
      color: $color-dark

    &.on
      +box-shadow(inset 0 -4px 0 0 $color-lighter)

      color: $color-dark

  select
    display: none

  // Responsiveness
  +screen(map-get($screen, 'medium'))
    +box-shadow(inset 0 -1px 0 0 $color-lighter)

    padding-bottom: map-get($gap, 'normal')

    ul
      display: none

    select
      display: block
