.thumbnail
  display: inline-block
  width: 280px
  max-width: 100%
  background-color: $color-light

  &.transparent
    background-color: transparent

  &.square
    overflow: hidden

    img
      width: auto
      height: 100%

  +thumbnail(60)
  +thumbnail(100)
  +thumbnail(180)
  +thumbnail(200)
  +thumbnail(280)
  +thumbnail(300)
  +thumbnail(380)
  +thumbnail(400)
  +thumbnail(480)
  +thumbnail(500)
  +thumbnail(600)
  +thumbnail(800)

  img
    display: inline-block
    width: 100%
    height: auto
    vertical-align: middle
