%button
  $border: 1px
  $border-bordered: 2px
  $color: $color-light

  @extend %font-thin

  +border-radius($border-radius)
  +box-shadow(inset 0 1px 0 0 lighten($color, $color-variation-3))
  +box-sizing(border-box)
  +transition(all 0.1s)

  display: inline-block
  height: map-get($input, 'height')
  padding: 0 (map-get($gap, 'normal') * 2)
  margin: 0
  border: $border solid darken($color, $color-variation-1)
  cursor: pointer
  background: $color
  color: #fff
  font-size: 1rem
  line-height: map-get($input, 'height') - ($border * 2)
  text:
    decoration: none
    align: center

  &:hover,
  &.on
    background: lighten($color, $color-variation-2)
    color: #fff

  &:disabled
    @extend %disabled

  &.expanded
    display: block

  &.rounded
    +border-radius(1.5em)

  &.bordered
    $color: $color-light

    +box-shadow(none)

    border: $border-bordered solid
    background: none
    color: $color
    line-height: map-get($input, 'height') - ($border-bordered * 2)

    &:hover
      color: lighten($color, $color-variation-3)

  &.small
    height: map-get($input, 'height-small')
    padding: 0 map-get($gap, 'normal')
    font-size: 0.8rem
    line-height: map-get($input, 'height-small') - ($border * 2)

    &.bordered
      line-height: map-get($input, 'height-small') - ($border-bordered * 2)

  &.large
    height: map-get($input, 'height-large')
    font-size: 1.2rem
    line-height: map-get($input, 'height-large') - ($border * 2)

    &.bordered
      line-height: map-get($input, 'height-large') - ($border-bordered * 2)
