%input-text
  +border-radius($border-radius)
  +box-shadow(inset 0 1px 0 0 rgba(0, 0, 0, 0.05))
  +box-sizing(border-box)
  +transition(all 0.1s)

  display: block
  height: map-get($input, 'height')
  padding: 0 map-get($input, 'padding')
  border: 1px solid lighten($color-muted, $color-variation-3)
  background: #fff
  font:
    size: 0.9rem
    family: $font-system
  line-height: map-get($input, 'height')

  &[readonly]
    background: #eee

  &:disabled
    @extend %disabled

  &.danger
    border-color: $color-danger

  &.info
    border-color: $color-info

  &.success
    border-color: $color-success

  &.warning
    border-color: $color-warning

  +input-placeholder
    color: $color-muted
